.input{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.Questions{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.buttonCreateTest{
    display: flex;
    justify-content: end;
}