.wrapper{
    button{
        min-width: 90px;
        height: 40px;
        border-radius: 7px;
        background: rgb(9, 122, 252);
        border: none;
        transition: all 0.3s ease;
        font-size: 18px;
        cursor: pointer;
        
        &:hover{
            color: white;
            background: rgb(36, 90, 240);
            transition: all 0.3s ease;
        }
    }
}