.wrapper {
  background: repeating-linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(176, 247, 255, 1) 18%,
    rgba(110, 209, 245, 1) 73%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: repeat-x;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: 400% 100%;
  animation: AnimationName 8s linear infinite;

  .button__Create_Test {
    position: absolute;
        left: 20px;
        top: 20px;
  }

  .test {
    background: rgb(255, 255, 255);
    width: 700px;
    border-radius: 15px;
    border: solid 2px rgb(226, 226, 226);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .title {
      text-align: center;
      margin-top: 20px;
      text-wrap: wrap;
      word-break: break-all;
    }

    .question {
      background-color: #edf1f9;
    }

    .jumpButtons {
      display: flex;
      justify-content: space-between;
      margin: 20px;
    }
  }
}

@keyframes AnimationName {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -33% 50%;
  }
}
